@model BOL.CommonEntities.EmployeeModule;


<head>
    <link rel="stylesheet" href="Employee.css" />
</head>
<div class="row">
    <div class="col-lg-6">
        <h3>EMPLOYEE STATUS</h3>
    </div>
    <div class="col-lg-6">
        <!-- Add any additional content for the second column if needed -->
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">EMPId</th>
  
                    <th scope="col">EMPName</th>
                   
                    <th scope="col">EntryTime</th>
                    
                    <th scope="col">ExitTime</th>
                    
                    <th scope="col">Status</th>

                    <th scope="col">Action</th>

                    <th scope="col">CustomTime</th>
   
                </tr>
            </thead>
            <tbody>
 
                @if (Model != null && Model.StatusList != null && Model.StatusList.Any())
                {
                    foreach (var employee in Model.StatusList)
                    {
                        <tr>
                            <td><b>@employee.EMPId</b></td>
                
                            <td>@employee.EMPName</td>
                            
                            <td>@(employee.EntryTime == null ? "N/A" : employee.EntryTime.ToString())</td>
                            
                            <td>@(employee.ExitTime == null ? "N/A" :  employee.ExitTime.ToString())</td>
                            
                            <td>@(employee.Status == false ? "NO" : "YES")</td>

                            <td>
                                <form asp-controller="Employee" asp-action="EmployeeStatus" method="post">
                                    <input type="hidden" name="EMPId" value="@employee.EMPId"/>
                                    <input type="hidden" name="Status" value="@(employee.Status ? "true" : "false")"/>
                                    @if (employee.EntryTime == null || employee.EntryTime.Value.Date == DateTime.Today)
                                    {
                                        <button type="submit" class="btn @(employee.Status ? "btn-danger" : "btn-primary")">  
                                            @(employee.Status ? "EXIT" : "ENTRY")
                                        </button>
                                    }
                                </form>

                            </td>

                            <td>
                                <form asp-controller="Employee" asp-action="EmployeeStatus" method="post">
                                    <input type="hidden" name="EMPId" value="@employee.EMPId"/>

                                    <div class="mb-3 @(employee.Status ? "d-none" : "")">
                                        <label for="EntryTime" class="form-label"><b>EntryTime</b></label>

                                        <input type="time" id="EntryTime" name="EntryTime" class="form-control"/>
                                    </div>

                                    <div class="mb-3 @(employee.Status ? "" : "d-none")">
                                        <label for="ExitTime" class="form-label"><b>ExitTime</b></label>
                                        <input type="time" id="ExitTime" name="ExitTime" class="form-control"/>
                                    </div>
                                    
                                    <input type="hidden" name="CustomTime" value="" id="CustomTime">
                                    <input type="hidden" name="Status" value="@(employee.Status ? "true" : "false")"/>
                                    @if (employee.EntryTime == null || employee.EntryTime.Value.Date == DateTime.Today)
                                    {
                                     <button type="submit" class="btn @(employee.Status ? "btn-danger" : "btn-primary")">
                                     @(employee.Status ? "EXIT" : "ENTRY")
                                     </button>                                    
                                    }
                                </form>     
                            </td> 

                        </tr>
                    }
                }
                else
                {
                    <p>No employees found.</p>
                }
            </tbody>
        </table>
    </div>
</div>